In [ ]:
import pandas as pd
from sqlite3 import connect

In [ ]:
df = pd.read_csv('titanic.csv', index_col='PassengerId')

In [ ]:
df

In [ ]:
from sqlite3 import connect

In [ ]:
with connect("sandbox.db") as db:
    df.to_sql("passengers", db)

In [ ]:
with connect("sandbox.db") as db:
    for r in db.execute("select * from passengers"):
        print(*r)